<% if current_user.fan?%>
  <div>
    <% if target.attendings.include?(current_account) %>
      <%= button_to "Not going anymore", [target, :rsvp], method: :delete %>
    <% else %>
      <%= button_to "Going?", [target, :rsvp] %>
    <% end %>
  </div>
<% end %>
