.artist-name {
  position: absolute;
  display: block;
  margin-top: 150px;
  font-size: .7em;
  background-color: black;
  opacity: .7;
  color: white;
}

.profile-picture img {
  border: 2px solid grey;
  border-radius: 50%;
  display: block;
  margin: auto;
}
