.headliner {
  @include span-columns(12);

  h1 {
    display: inline;
    background-color: #990000;
    position: absolute;
    margin-top: 206px;
    opacity: .9;

    a {
      color: white;
    }
  }

  h3 {
    display: inline;
    position: absolute;
    margin-top: 250px;
    background-color: black;
    opacity: .8;
    color: white;
  }
  
  img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
  }
}
.left-container {
  
  .tickets {
    margin-left: 125px;
  }

  .going {
    margin-left: 90px;
  }
 
  .concert-count {
    border-top: 1px solid black;
    margin-top: 10px;

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

.opening-acts-list {
  @include span-columns(12);

  p {
    background-color: #474747;
    text-align: center;
    color: white;
    font-size: 150%;
  }

  .opening-act {
    @include span-columns(3);
    padding-left: 22px;
    
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 5px 5px 5px gray;
    }

    h2 {
      font-size: 90%;
      display: inline;
      position: absolute;
      margin-left: -100px;
      margin-top: 75px;

      a {
        color: white;
        background-color: #990000;
      }
    }
  }
}
