.main-photo {
  @include span-columns(12);
  text-align: center;

  img {
    box-shadow: 5px 5px 5px gray;
  }
}

.about-photo {
  @include span-columns(8);
  background-color: #191919;
  margin-left: 160px;
  padding: 10px;

  .photo-author {
    @include span-columns(2);

    img {
      border-radius: 50%;
      box-shadow: 3px 3px 5px gray;

    }
  }

  .photo-location {
    color: white;
    font-weight: bold;

    a {
      color: #CC0000;
    }

    a:hover {
      color: red;
    }

  }

  .author-name {
    color: white;
    font-weight: bold;

    a {
      color: #CC0000;
    }

    a:hover {
      color: red;
    }
  }

  .description {
    color: white;

  }
}

.new-comment-container {
  @include span-columns(8);
  margin-top: 15px;
  margin-left: 160px;

  .comment-field {
    @include span-columns(9);
    margin-left: 20px;
  }

  .submit {
    @include span-columns(2);
  }
}

.all-comments {
  @include span-columns(8);
  margin-left: 160px;

  ul + ul {
    border-top: 1px dotted black;
  }
}
