.dashboard-header {
  margin-bottom: 20px;
}

.add-concert {
  @include span-columns(12);
  text-align: center;

  a {
    color: white;
    background-color: #990000;
    font-size: 150%;
    font-weight: bold;
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
  }

  a:hover {
    color: white;
    background-color: #680000;
    font-size: 150%;
    font-weight: bold;
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
  }
}

.show-container {
  @include span-columns(12);
  margin-top: 50px;

  .upcoming-shows {
    @include span-columns(6);

    h3 {
      text-align: center;
      background-color: whitesmoke;
      padding: 10px 0px 10px 0px;
      border-bottom: 3px solid black;
    }

    .concert {
      @include span-columns(12);
      background-color: whitesmoke;
      padding: 10px;

      .headliner-photo {
        @include span-columns(2);

        img {
          border-radius: 50%;
        }
      }
    }

    .concert + .concert {
      border-top: 1px solid black;
    }
  }

  .past-shows {
    @include span-columns(6);

    h3 {
      text-align: center;
      background-color: whitesmoke;
      padding: 10px 0px 10px 0px;
      border-bottom: 3px solid black;
    }

    .concert {
      @include span-columns(12);
      background-color: whitesmoke;
      padding: 10px;

      .headliner-photo {
        @include span-columns(2);

        img {
          border-radius: 50%;
        }
      }
    }

    .concert + .concert {
      border-top: 1px solid black;
    }
  }
}
