<% @artists.each do|artist| %>
  <li>
    <%= image_tag(artist.profile_picture_url(:snippet)) %>
    <%= link_to artist.name, artist %>
    <% if artist.concerts.present? %>
      Next Show:
      <%= link_to artist.concerts.next_concert.date.to_formatted_s(:long_ordinal), artist.concerts.next_concert %>
      at <%= link_to artist.concerts.next_concert.venue.name %>
    <% else %>
      No show scheduled at this time
    <% end %>
  </li>
<% end %>
