<div class="account-container">  
  <h2>Select your account type</h2>
  <div class="fan-account">
    <%= link_to "Fan Account", [:new, :fan] %>
  </div>
  <div class="artist-account">
    <%= link_to "Artist Account", [:new, :artist] %>
  </div>
  <div class="venue-account">
    <%= link_to "Venue Account", [:new, :venue] %>
  </div>
</div>
